html * {
    font-family: 'Inconsolata', monospace;
    color: rgb(40, 38, 38);
}

@keyframes shiftingcolor {
    0% {
        background-color: #a64dff
    }
    15% {
        background-color: #4d4dff
    }
    30% {
        background-color: #4dffff
    }
    45% {
        background-color: #4dff4d
    }
    60% {
        background-color: #ffe74d
    }
    75% {
        background-color: #ffa04d
    }
    90% {
        background-color: #ff4d4d
    }
    100% {
        background-color: #ff4dff
    }
}

body.no_log {
    margin: 0;
    padding: 0; 
    -webkit-animation: shiftingcolor 20s infinite;
    animation: shiftingcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

body.log {
    background-color: lightblue;
}

.all_user_posts {
    background: honeydew;
}

.flash-msg {
    text-align: center;
}

.right_align {
    text-align: right;
}

.transparency_field {
    background: rgba(255,255,255,0.4);
    border-radius: 4%;
    border: .5px solid rgba(255,255,255,0.2);
}

.disclaimer {
    font-size: x-small;
    margin-top: -15px;
}

.tone_base {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    float: left;
    margin-right: 2%;
}

.button {
    background: rgba(240,224,221,0.94);
    border-radius: 4%;
    border: .5px solid;
}

#map { 
    width: auto;
    height: 100vh;
}

.column_full { 
    width: 100%;
    overflow: auto;
}

.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topnav li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.filters {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:hover {
    color: yellow;
}

.vertical-center {
    min-height: 90vh;
    display: flex;
    align-items: center;
}

.no_log {
    margin-top: 2%;
}
  
.row {
    background-color: #d1cfc7;
    border-radius: 3%;
}

.col-md-6 {
    padding: 140px 60px;
}

.prompt {
    padding: 200px 60px;
}

textarea {
    width: 100%;
}

#div_margin {
    margin-top: 1.5%;
}

.low_margin {
    padding: 30px;
}

.extra_low_margin {
    padding: 10px 30px 10px 30px;
}

.no_post {
    padding-top:30px;
}

.grid {
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-gap: 40px;
    align-items: baseline;
    margin-top: 4%;
  }

  div.post {
    background-color: rgba(255,255,255,0.8);
    border-radius: 4%;
    padding: 1em; 
    height: 30em;
    display: table;
    content: "";
    clear: both;
  }

  /* Tone Filter Button Styling */

  .tone_filters {
    text-align: right;
    margin: 0;
    padding: 0;
    position: relative;
  }

  .tone_filters:before {
    z-index: 1;
    border: 1px solid #AAA;
  }

  .tone_filters:after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #AAA;
    z-index: 1;
  }

  .tone_filters input {
    margin: 0 -5px;
    padding: 0 20px;
    border: 1px solid #AAA;
    display: inline-block;
    position: relative;
    z-index: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    /* background: linear-gradient(to bottom, #ECECEC 50%, #D1D1D1 100%); */
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #f2f2f2;
    /* text-shadow: 0 1px #000; */
    color: rgb(40, 38, 38);
  }

  .tone_filters input:before,
  .tone_filters input:after {
    position: absolute;
    bottom: -1px;
    width: 6px;
    height: 6px;
    content: " ";
  }

  .tone_filters input:before {
    left: -6px;
    border-bottom-right-radius: 6px;
    border-width: 0 1px 1px 0;
    /* box-shadow: 2px 2px 0 #ECECEC; */
  }

  .tone_filters input:after {
    right: -6px;
    border-bottom-left-radius: 6px;
    border-width: 0 0 1px 1px;
    /* box-shadow: -2px 2px 0 #ECECEC; */
  }

  .tone_filters input.selected {
    background: #FFF;
    color: white;
    z-index: 2;
    /* border-bottom-color: yellow; */
  }

  /* .tone_filters input.selected:before {
    box-shadow: 2px 2px 0 #FFF;
  }

  .tone_filters input.selected:after {
    box-shadow: -2px 2px 0 #FFF;
  } */

  #Anger {
      background: #ff6666;
  }

  #Disgust {
    background: #ffad66;
  }

  #Joy {
    background: #ffeb66;
  }

  #Confident {
    background: #66ff66;
  }

  #Tentative {
    background: #66ffff;
  }

  #Sadness {
    background: #6666ff;
  }

  #Analytical {
    background: #b366ff;
  }

  #Fear {
    background: #ff66ff;
  }


