html * {
    font-family: 'Inconsolata', monospace;
    color: rgb(40, 38, 38);
}

@keyframes shiftingcolor {
    0% {
        background-color: #a64dff
    }
    15% {
        background-color: #4d4dff
    }
    30% {
        background-color: #4dffff
    }
    45% {
        background-color: #4dff4d
    }
    60% {
        background-color: #ffe74d
    }
    75% {
        background-color: #ffa04d
    }
    90% {
        background-color: #ff4d4d
    }
    100% {
        background-color: #ff4dff
    }
}

body.no_log {
    margin: 0;
    padding: 0; 
    -webkit-animation: shiftingcolor 20s infinite;
    animation: shiftingcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

body.log {
    background-color: lightblue;
}

.all_user_posts {
    background: honeydew;
}

.flash-msg {
    text-align: center;
}

.transparency_field {
    background: rgba(255,255,255,0.4);
    border-radius: 4%;
    border: .5px solid rgba(255,255,255,0.2);
}

.disclaimer {
    font-size: x-small;
    margin-top: -15px;
}

.tone_base {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    float: left;
    margin-right: 2%;
}

.button {
    background: rgba(240,224,221,0.94);
    border-radius: 4%;
    border: .5px solid;
}

#map { 
    width: auto;
    height: 100vh;
}

.column_full { 
    width: 100%;
    overflow: auto;
}

.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topnav li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.filters {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:hover {
    color: yellow;
}

.vertical-center {
    min-height: 90vh;
    display: flex;
    align-items: center;
}

.no_log {
    margin-top: 2%;
}
  
.row {
    background-color: #d1cfc7;
    border-radius: 3%;
}

.col-md-6 {
    padding: 140px 60px;
}

.prompt {
    padding: 200px 60px;
}

textarea {
    width: 100%;
}

#div_margin {
    margin-top: 1.5%;
}

.low_margin {
    padding: 30px;
}

.extra_low_margin {
    padding: 10px 30px 10px 30px;
}

.no_post {
    padding-top:30px;
}

.grid {
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-gap: 40px;
    align-items: baseline;
  }

  div.post {
    background-color: rgba(255,255,255,0.8);
    border-radius: 4%;
    padding: 1em; 
    height: 30em;
    display: table;
    content: "";
    clear: both;
  }

