html * {
    font-family: 'Inconsolata', monospace;
    color: rgb(40, 38, 38);
}

body {
    background-color: #d1cfc7;
}

.flash-msg {
    text-align: center;
}

.transparency_field {
    background: rgba(255,255,255,0.4);
    border-radius: 4%;
    border: .5px solid rgba(255,255,255,0.2);
}

.button {
    background: rgba(240,224,221,0.94);
    border-radius: 4%;
    border: .5px solid;
}

#map { 
    width: auto;
    height: 100vh;
}

.column_full { 
    width: 100%;
    overflow: auto;
}

.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topnav li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    color: yellow;
}

.grid {
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-gap: 10px;
    align-items: center;
  }
  
  div.post {
    background-color: rgba(255,255,255,0.8);
    border-radius: 4%;
    border: 2px solid grey;
    width: 32em;
    height: 30em;
    margin: 2em;
    padding: 1em;
    display: inline-block;
    overflow: hidden;
  }

