
#map { 
    width: auto;
    height: 100vh;
}

.column_full { 
    width: 100%;
    overflow: auto;
}

.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topnav li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.grid {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-gap: 20px;
    align-items: center;
  }
  
  div.post {
    border-radius: 3px;
    border: 3px solid black;
    width: 16em;
    height: 25em;
    margin: 2em;
    padding: 1em;
    display: inline-block;
  }
