{% extends 'base_log.html' %}
{% block title %}About Tone of Connection{% endblock %}

{% block body %}

<div class="container no_log">
    <h1>How It Works</h1>
    <p>I'll give you a prompt and you provide me with your thoughts. I'll analyze your post for tone qualities and tell you what I detected. 
        The stronger a detected tone is, the more saturated the corresponding color will be. If the tone is weakly detected, I'll lower the saturation.</p> 
        <div class="row" id="about_example">
            <div class="col-12 col-md-6 extra_low_margin">
                <p><strong>Strong Tone Detection</strong></p>
                <div style="height:20px; width:20px; background-color:#1a1aff; border-radius:100%; float:left"></div> 
                <p style="display: inline-block; padding-left: 20px;"> Sadness 97% </p>
            </div>
            <div class="col-12 col-md-6 extra_low_margin">
                <p><strong>Weak Tone Detection</strong></p>
                <div style="height:20px; width:20px; background-color:#a3a3ff; border-radius:100%; float:left"></div> 
                <p style="display: inline-block; padding-left: 20px;"> Sadness 58% </p>
            </div>
        </div>
        <p id="div_margin">With your given zip code, I'll post your thoughts to the Mood Map with a colored marker corresponding to your most resonant tone. 
        Beyond your zip code, the Mood Map is completely anonymized and no personal information will be attached to your marker.</p>
    </p>

    <div class="row">
        <h2>Meet Your Mood</h2>
  
        <div class="col-12 col-md-6 low_margin">
            <div>
                <div class="tone_base" style="background-color:#ff0000"></div>
                <h3 class="tone_name">Anger</h3>
                <p class="tone_descrip">
                    An emotion characterized by tension and hostility arising from frustration, real or imagined injury by another, or perceived injustice
                </p>
            </div>

            <div>
                <div class="tone_base" style="background-color:#ffdd00"></div>
                <h3 class="tone_name">Joy</h3>
                <p class="tone_descrip">
                    A feeling of extreme gladness, delight, or exultation of the spirit arising from a sense of well-being or satisfaction
                </p>
            </div>

            <div>
                <div class="tone_base" style="background-color:#ff7700"></div>
                <h3 class="tone_name">Disgust</h3>
                <p class="tone_descrip">
                    A feeling of revulsion or strong disapproval aroused by something unpleasant or offensive
                </p>
            </div>

            <div>
                <div class="tone_base" style="background-color:#6600cc"></div>
                <h3 class="tone_name">Analytical</h3>
                <p class="tone_descrip">
                    Relating to or using analysis or logical reasoning
                </p>
            </div>
        </div>

        <div class="col-12 col-md-6 low_margin">
            <div>
                <div class="tone_base" style="background-color:#0000ff"></div>
                <h3 class="tone_name">Sadness</h3>
                <p class="tone_descrip">
                    An emotional pain associated with feelings of disadvantage, loss, despair, grief, helplessness, disappointment and sorrow
                </p>
            </div>

            <div>
                <div class="tone_base" style="background-color:#ff00ff"></div>
                <h3 class="tone_name">Fear</h3>
                <p class="tone_descrip">
                    An unpleasant emotion caused by the belief that someone or something is dangerous, likely to cause pain, or a threat
                </p>
            </div>

            <div>
                <div class="tone_base" style="background-color:#00ff00"></div>
                <h3 class="tone_name">Confident</h3>
                <p class="tone_descrip">
                    A feeling of self-assurance arising from one's appreciation of one's own abilities or qualities
                </p>
            </div>

            <div>
                <div class="tone_base" style="background-color:#00ffff"></div>
                <h3 class="tone_name">Tentative</h3>
                <p class="tone_descrip">
                    Indicating a lack of confidence or certainty
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}