<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static/styles.css">
    <title>
      {% block title %}{% endblock %}
    </title>
    {% block head %}{% endblock %}
  </head>

  <body>

    <div class="column_full">
      <ul class="topnav">
        <li><a href="/post">Create a Post</a></li>
        <li><a href="/users/{{ session['user_id'] }}">My Posts</a></li>
        <li><a href="/map">Tone Map</a><li>
        <li><a href="/logout">Log Out</a></li>
      </ul>
    </div>

    {% for msg in get_flashed_messages() %}
      <p class="flash-msg">
        {{ msg }}
      </p>
    {% endfor %}

    {% block body %}{% endblock %}

    {% block after_body %}{% endblock %}
  </body>
</html>