{% extends 'base_no_log.html' %}
{% block title %}Tone of Connection{% endblock %}

{% block body %}
<div class="jumbotron vertical-center">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <h1 id="typing"></p>
      </div>
      <div class="col-12 col-md-6">

        <h2>Create an Account</h2>
        <form id="account_creation" action="/register" method="POST">
          <p>
          Username <input class="transparency_field" type="text" name="username">
            <p class="disclaimer">(Don't worry - this will only be visible to you!)</p>
          </p>

          <p>
            Email <input class="transparency_field" type="text" name="email">
          </p>

          <p>
          Password <input class="transparency_field" type="password" name="password">
          </p>

          <p>
            <input class="button" type="submit">
          </p>
        </form>
      </div>
    </div>
  </div>
</div>

<script> var postPrompt = "This is Tone of Connection - an anonymous journal that analyzes your mood and translates it to color" </script>
<script src="/static/js/welcome.js"></script>
{% endblock %}