{% extends 'base_log.html' %}
{% block title %}Create a Post{% endblock %}

{% block js %}
<script src="/static/form_submit.js"></script>
{% endblock %}

{% block body %}

<h2>What do you want to say?</h2>
<form action="/input" method="POST" id="postform">
  <textarea id="postfield" name="user_post" rows="20" cols="50">
  </textarea>

<form action="/input" method="POST" id="zipform">
<div>
    <label for="zipfield">What's your ZIP Code?</label>
    <input id="zipfield" type="text" name="zipcode" required="required" />
</div>

  <p>
    <input type="submit" onclick="submitValidForms()" />
  </p>
</form>
</form>

{% endblock %}