{% extends 'base_log.html' %}

{% block title %}Post Results{% endblock %}
{% block head %}

{% endblock %}

{% block body %}
<div class="jumbotron vertical-center">
<div class="container no_log">
    <div class="row with_background" id="post_analysis">
        <h1 style="font-size: 45px;">Let's Check Out How You're Feeling</h1>
        <div class="col-12 col-md-8 no_margin">
        <section id="display_post">
            <h3>Post Info</h3>

            <dl>
                <dt>I Asked:</dt>
                <dd id="post_prompt">{{ post.prompt.prompt }}</dd>

                <dt>You Said:</dt>
                <dd id="post_text">{{ post.post_text }}</dd>
            
                <dt>Location:</dt>
                <dd id="post_location">{{ session['user_facing_location'] }}</dd>

                <dt>Date:</dt>
                <dd id="post_date">{{ user_facing_date }}</dd>

                <dt>Tone Qualities:</dt>
                <dd id="post_qualities">
                    <div id="loading" class="loading_container">
                        <div class="ball"></div>
                        <div class="ball"></div>
                        <div class="ball"></div>
                        <div class="ball"></div>
                        <div class="ball"></div>
                        <div class="ball"></div>
                        <div class="ball"></div>
                        <div class="ball"></div>
                      </div>
                    <div id="post_tone">
                    </div>
                </dd>
            </dl>
        </section>
        </div>
        
        <div class="col-12 col-md-4 no_margin">
            <div class="row" id="map_CTA">
                <a href="/map" class="div_anchors">
                    <div class="col-12 no_margin">
                        <p class="CTA_text">See your post on the Mood Map</p>
                    </div>
                </a>
            </div>
            <div class="row" id="journal_CTA">
                <a href="/users/{{ session['user_id'] }}" class="div_anchors">
                    <div class="col-12 no_margin">
                        <p class="CTA_text">View your post in your Journal</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    
</div>
</div>

<script> const postID = {{ post.post_id }}</script>
<script src="/static/js/analyze_post.js"></script>
{% endblock %}