{% extends 'base_log.html' %}
{% block title %}Create a Post{% endblock %}

{% block js %}
<script src="/static/js/form_submit.js"></script>
{% endblock %}

{% block body %}

<h2>What do you want to say?</h2>
<form action="/input" method="POST" id="postform" onsubmit="event.preventDefault()">

  <div id="user_post">
    <label for="postfield">My Thoughts</label>
    <input id="postfield" type="text" name="mypost" required="required" />
  </div>

  <div>
      <label for="zipfield">What's your ZIP Code?</label>
      <input id="zipfield" type="text" name="zipcode" required="required" />
  </div>

  <p>
    <input type="submit"/>
  </p>
</form>

{% endblock %}