{% extends 'base_log.html' %}

{% block title %}{{ user.username }} - Details{% endblock %}

{% block body %}
<h1>{{ user.email }}</h1>

<h2>My Posts</h2>

<ul>
    {% for post in user.posts %}
        <li>
        {{ post.post_text }}: 
          <ul>
            {% for result in post.tone_results %}
                <li> {{ result.tone_quality }} 
                    <div style="height:20px; width:20px; background-color: hsl{{ result.hsl_value }}"></div> 
                </li>
            {% endfor %}
          </ul>
        </li>
    {% endfor %}
    </ul>

    <!-- <form action="/geolocate">
        <div>
          <label for="zipfield">What's your ZIP Code?</label>
          <input id="zipfield" type="text" name="zipcode" required />
        </div>
        <div>
          <input type="submit" />
        </div>
      </form> -->


    <!-- <button id="get-geolocation">
        Geolocate me!
    </button>

    <script>
        "use strict";
    
        const geoButton = document.querySelector('#get-geolocation');
    
        geoButton.addEventListener('click', () => {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    (currPosition) => {
                        alert('Recieved location!');
                        console.log({
                            lat: currPosition.coords.latitude,
                            lng: currPosition.coords.longitude
                        });
                    }
                );    
            }                
        });
    
    </script> -->


{% endblock %}