{% extends 'base_log.html' %}

{% block title %}{{ user.username }}'s Journal{% endblock %}
{% block head %}

{% endblock %}

{% block js %}
<script src="/static/js/postCards.jsx" type="text/jsx"></script>
{% endblock %}

{% block body %}
<div class="container no_log">

    <form action="/posts_filtered"> 
        <div class="tone_filters">
            <input type="submit" class="default" id="Anger" value="Anger" onclick="getQuality(this)">
            <input type="submit" class="default" id="Disgust" value="Disgust" onclick="getQuality(this)">
            <input type="submit" class="default" id="Joy" value="Joy" onclick="getQuality(this)">
            <input type="submit" class="default" id="Confident" value="Confident" onclick="getQuality(this)">
            <input type="submit" class="default" id="Tentative" value="Tentative" onclick="getQuality(this)">
            <input type="submit" class="default" id="Sadness" value="Sadness" onclick="getQuality(this)">
            <input type="submit" class="default" id="Analytical" value="Analytical" onclick="getQuality(this)">
            <input type="submit" class="default" id="Fear" value="Fear" onclick="getQuality(this)">
        </div>
    
        <div>
            <input type="hidden" id="toneFilter" name="tone_filter_quality" value="" ref="filter">
        </div>
    </form>

    <h1 id="top_margin">{{ user.username }}'s Journal</h1>
    

    <div id="all-posts" class="grid"></div>
</div>

<script>
    function getQuality(e) {
        var quality = e.getAttribute("id");
        document.getElementById("toneFilter").value = quality;
    }

    $("input").click(function(e) {
        $("input").removeClass("selected");
        $(this).addClass("selected");
    });
</script>
{% endblock %}